BasedOnStyle: LLVM
BinPackParameters: 'false'
BinPackArguments: 'false'
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowShortFunctionsOnASingleLine: 'false'
BreakBeforeBinaryOperators: 'All'
ColumnLimit: '110'
IndentWidth: '4'
IndentCaseLabels: 'true'
IndentWrappedFunctionNames: 'false'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
MaxEmptyLinesToKeep: '2'
PointerAlignment: Right
ReflowComments: 'true'
Standard: Cpp11
UseTab: Never
