{# templates/form.html #}

{% set key = item.key %}

{% macro input(item, type='text', class='api', name='name', json_name=None) %}
<input class="{{ class }}" type="{{ type }}" name="{{ name }}{{ key }}" data-type="{{ item.type }}" data-key="{{ key }}"
  {% if section %}data-section="{{ section }}"{% endif %}
  {% if json_name %}data-name="{{ json_name }}"{% elif item.json_name %}data-name="{{ item.json_name }}"{% endif %}
  onchange="valueChangedHandler(this)"
{% endmacro %}

{% macro table_input(key, dtype, json_name='', type='text', class='api', name='name') %}
<input class="{{ class }}" type="{{ type }}" name="{{ name }}{{ key }}" data-type="{{ dtype }}" data-key="{{ key }}"
  {% if section %}data-section="{{ section }}"{% endif %}
  {% if json_name %}data-name="{{ json_name }}"{% endif %}
  onchange="valueChangedHandler(this)" />
{% endmacro %}

{% macro label(item, class='label-inline', add='') %}
<label class="{{class}}">{{ item.name }}{{ add }}{% if item.help %}<span class="tip" data-tip="{{ item.help }}"></span>{% endif %}</label>
{% endmacro %}

{% block form_render %}
  {% if item.get("elem") == "hex_info" %}
    {{ label(item, add=':') }}
    {{ input(item, class='content api') }} data-hex readonly />

  {% elif item.get("elem") == "fw_version" %}
    {{ label(item, class='') }}
    {{ input(item) }} data-fw-ver readonly />

  {% elif item.get("elem") == "label" %}
    {{ label(item, class='') }}

  {% elif item.get("elem") == "table_start" %}
    <label>{{ item.name }}{% if item.help %}<span class="tip" data-tip="{{ item.help }}"></span>{% endif %}</label>
    <table class="transition-table">
      <thead>
        <tr>
          <th rowspan="2"></th>
          <th colspan="2">→ (From)</th>
          <th colspan="2">← (To)</th>
        </tr>
        <tr>
          <th>Top</th>
          <th>Bottom</th>
          <th>Top</th>
          <th>Bottom</th>
        </tr>
      </thead>
      <tbody>

  {% elif item.get("elem") == "table_row" %}
        <tr>
          <td>{{ item.label }}</td>
          <td>{{ table_input(item.from_top_key, item.type, item.json_names.from_top) }}</td>
          <td>{{ table_input(item.from_bottom_key, item.type, item.json_names.from_bottom) }}</td>
          <td>{{ table_input(item.to_top_key, item.type, item.json_names.to_top) }}</td>
          <td>{{ table_input(item.to_bottom_key, item.type, item.json_names.to_bottom) }}</td>
        </tr>

  {% elif item.get("elem") == "table_end" %}
      </tbody>
    </table>

  {% elif item.get("elem") == "range" %}
  <div class="clearfix">
    <form>
      {{ label(item, add='=') }}

      {{ input(item, class='input-inline', type='number', name='aInput') }}
        readonly oninput="this.form.aRange{{ key }}.value=this.value" />

      {{ input(item, class='range api', type='range', name='aRange') }}
        min="{{ item['values'].min }}" max="{{ item['values'].max }}" oninput="this.form.aInput{{key}}.value=this.value" />
    </form>

  </div>

  {% elif item.get("elem") == "checkbox" %}
  <div class="clearfix">
    {{ label(item) }}
    {{ input(item, type="checkbox") }}  />

  </div>

  {% elif item["values"] %}
    {{ label(item, class='') }}
    <select class="api" data-type="{{ item.type }}" data-key="{{ key }}" {% if section %}data-section="{{ section }}"{% endif %} {% if item.json_name %}data-name="{{ item.json_name }}"{% endif %} required>
    <option disabled selected value></option>

    {% for k, v in item["values"].items() %}
    <option value="{{ k }}">{{ v }}</option>
    {% endfor %}
    </select><br />

  {% else %}
      {{ label(item, class='') }}
      {{ input(item) }}  />

  {% endif %}
{% endblock %}
