{% raw %}<!DOCTYPE html><html lang="en"><head><script>(async()=>{const d=Uint8Array.from(atob('{% endraw %}{{payload}}{% raw %}'),c=>c.charCodeAt(0));const s=new DecompressionStream('gzip');const w=s.writable.getWriter();w.write(d);w.close();const h=new TextDecoder().decode(await new Response(s.readable).arrayBuffer());document.open();document.write(h);document.close();})();</script></head><body></body></html>{% endraw %}
